.card{
    /* width: 360px;
    display: flex;
    flex-direction: column; */
    background-color: var(--card-bg);
    /* margin: 0 auto; */
    padding: 2rem;
    /* position: absolute; */
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px var(--main-bg), -3px -3px -8px var(--main-bg);

}
/* .container{
    width: 600px;
    height: 600px;
  
    
     
} */